@import 'config';

@font-face{
    font-family: "Alliance";
    src: url("../Alliance.ttf") format("truetype");
}

// ## Colors

// ### Primary

$DarkBlue: hsl(217, 28%, 15%);
$DarkBlue2: hsl(218, 28%, 13%);
$DarkBlue3: hsl(216, 53%, 9%);
$DarkBlue4: hsl(219, 30%, 18%);

// ### Accent

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);

// ### Neutral

$White: hsl(0, 0%, 100%);

// ## Numbers
$logoWidth: 100px;
$inputHeight: 35px;
$logoWidthMobile: 80px;

// ## Fonts
$headerFont: 'Raleway', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

@mixin transition-ease ($time) {
    transition: all $time ease-in-out;
}

body{
    color: $White;
    font-family: $bodyFont;
}
button{
    height: $inputHeight;
    border-radius: 40px;
    color: $White;
    background-image: linear-gradient(to right, $Cyan, $Blue);
    outline: none;
    border: none;
    font-family: $headerFont;
    font-weight: 400;
    font-size: .8rem;
    margin: 1rem 0;
    cursor: pointer;
    @include transition-ease(.5sec);
    
    &:hover{
        transform: scale(1.05);
    }
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $White;
    padding: 50px 8% 10px;
    background-color: $DarkBlue;
    .logo-container{
        width: $logoWidth;
        img{
            width: 100%;
        }
    }
    .nav{
        ul{
            display: flex;
            li{
                margin-left: 2rem;
                font-family: $headerFont;
                a{
                    color: $White;
                    padding: .4rem;
                    font-size: .8rem;
                    &:hover{
                        color: $Cyan;
                    }
                }
            }
        }
    }
}
.container{        
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.intro{
    min-height: calc(100vh - 80px);
    background: $DarkBlue url('../images/bg-curvy-desktop.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-start;
    color: $White;
    .container{
        margin-bottom: 6rem;
        .image-container{
            margin: 1rem auto 0;
            img{
                width: 100%;
            }
        }
        .text-container{
            h1{
                font-size: 1.8rem;
                font-family: $headerFont;
                font-weight: 700;
                margin: 2rem auto 1rem;
            }
            p{
                font-family: $bodyFont;
                font-weight: 400;
                font-size: .8rem;
                padding: 0 2.5rem;
                line-height: 1.3rem;
            }
            button{
                width: 200px;
                max-width: 80%;
            }
        }
    }
}

.features{
    background-color: $DarkBlue2;
    color: $White;
    font-family: $bodyFont;
    .container{
        max-width: 700px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .feature{
            flex: 1 1 300px;
            max-width: 280px;
            margin-bottom: 4rem;
            img{
                height: 60px;
                margin-bottom: 1rem;
            }
            h4{
                font-family: $headerFont;
                margin-bottom: .5rem;
            }
            p{
                font-size: .7rem;
            }
        }
    }
}
.productive{
    background: $DarkBlue2;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        text-align: left;
        padding: 3rem 0;
        .image-container{
            flex-basis: 48%;
            img{
                width: 100%;
            }
        }
        .text-container{
            flex-basis: 48%;
            h2{
                font-family: $headerFont;
                font-weight: 700;
                font-size: 2.55rem;
                margin-bottom: 1rem;
            }
            P{
                font-size: .8rem;
                margin-bottom: .6rem;
            }
            .work{
                color: $Cyan;
                position: relative;
                #text{
                    hr{
                        width: 165px;
                        border-color: $Cyan;
                    }
                }
                
            }
        }
    }
}
.info{
    background: $DarkBlue2;
    .container{
        // display: flex;
        // justify-content: space-between;
        // align-items: flex-end;
        max-width: 1000px;
        text-align: left;
        position: relative;
        padding-top: 5rem;
        .testimonials{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .testimonial{
                margin: 0 1rem 2rem;
                position: relative;
                background: $DarkBlue4;
                border-radius: 5px;
                flex-basis: 300px;
                padding: 2.5rem 2rem 1rem;
                -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
                -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
                box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);

                &:first-child::before{
                    content: url('../images/bg-quotes.png');
                    width: 15px;
                    color: $Cyan;
                    position: absolute;
                    transform: translateY(-110%);
                    left: -10px;
                    margin: 0;
                    padding: 0;
                }
                p{
                    font-size: .7rem;
                    margin-bottom: 1rem;
                }
                .author{
                    display: flex;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: .5rem;
                    }
                    &-details{
                        h4{
                            font-size: .6rem;
                        }
                        p{
                            font-size: .5rem;
                        }
                    }
                }
            }
        }
        .access{
            background: $DarkBlue;
            border-radius: 5px;
            width: 70%;
            margin: 0 auto;
            transform: translateY(40%);
            padding: 2rem 3.5rem 1.5rem;
            text-align: center;
            -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
            -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
            box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
            .text-container{
                padding: 0 2rem;
                h2{
                    font-family: $headerFont;
                    margin-bottom: .8rem;
                }
                p{
                    font-size: .75rem;
                    margin-bottom: 1rem;
                }
            }
            form{
                display: flex;
                justify-content: space-between;
                input{
                    flex-basis: 70%;
                    height: $inputHeight;
                    border-radius: 40px;
                    outline: none;
                    border: none;
                    font-size: .7rem;
                    padding-left: 2rem;
                }
                button{
                    flex-basis: 27%;
                    margin: 0;
                    font-size: .65rem;
                }
            }
        }
    }
}
footer{
    background: $DarkBlue3;
    padding-top: 7rem;
    .container{
        max-width: 1100px;
        .footer-logo{
            display: block;
            width: 100%;
            text-align: left;
            margin-bottom: 2rem;
            img{
                width: $logoWidth;
            }
        }
        .footer-links{
            display: flex;
            justify-content: space-between;
            text-align: left;
            font-size: .8rem;
            margin: 0 auto 1rem;
            opacity: .9;
            img{
                height: 10px;
                margin-right: .5rem;
            }
            p{
                margin-bottom: .5rem;
                cursor: pointer;
                &:hover{
                    color: $Cyan;
                }
            }
            .location{
                flex-basis: 30%;
                display: flex;
                img{
                    height: 15px;
                }
            }
            .social-links{
                a{
                    display: inline-block;
                    color: $White;
                    font-size: .7rem;
                    width: 25px;
                    height: 25px;
                    border: 1px solid $White;
                    border-radius: 50%;
                    padding: 3px;
                    padding-left: 7px;
                    padding-top: 3px;
                    margin-left: .5rem;
                    &:hover{
                        color: $Cyan;
                        border-color: $Cyan;
                    }
                }
            }
        }
        .attribution{
            padding-bottom: 1rem;
            color: #777;
            a{
                color: #777;
                &:hover{
                    color: $Cyan;
                }
                &.BlessTheBoy{
                    font-family: Alliance;
                }
            }
        }
    }
}

@media screen and (max-width: 43.75rem){
    .header{
        .logo-container{
            width: $logoWidthMobile;
        }
        .nav{
            ul{
                li{
                    margin-left: 1rem;
                    a{
                        padding: .3rem;
                        font-size: .7rem;
                    }
                }
            }
        }
    }
    .intro{
        background: $DarkBlue url('../images/bg-curvy-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        .container{
            .text-container{
                h1{
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                p{
                    font-size: .75rem;
                }
            }
        }
    }
    .features{
        .container{
            .feature{
                p{
                    line-height: 1rem;
                }
            }
        }
    }
    .productive{
        .container{
            flex-direction: column;
            padding: 3rem 1rem;
            .text-container{
                h2{
                    font-size: 1.1rem;
                    margin-top: 2rem;
                }
                p{
                    font-size: .85rem;
                    line-height: 1.15rem;
                }
                .work{
                    #text{
                        font-size: .85rem;
                        hr{
                            width: 145px;
                        }
                    }
                    
                }
            }
        }
    }
    .info{
        .container{
            .access{
                width: 100%;
                padding: 1.7rem;
                .text-container{
                    padding: 0;
                    padding-top: 1.5rem;
                    h2{
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: .8rem;
                    }
                }
                form{
                    flex-direction: column;
                    input{
                        height: $inputHeight;
                        padding: .6rem;
                        padding-left: 1.5rem;
                        margin-bottom: 1rem;
                    }
                    button{
                        height: $inputHeight;
                        padding: .6rem;
                        font-size: .75rem;
                    }
                }
            }
        }
    }
    footer{
        padding-top: 11rem;
        .container{
            padding: 0 .5rem;
            .footer-links{
                flex-direction: column;
                justify-content: flex-start;

                .contact, .list1, .list2{
                    margin-bottom: 2rem;
                }
                .social-links{
                    margin: 0 auto;
                }
            }
        }
    }
}